USE [BUICTRDBS]
GO
/****** Object:  StoredProcedure [dbo].[STP_MONITOR_DW_PACOTE_EXECUCAO]    Script Date: 10/07/2018 09:04:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[STP_MONITOR_DW_PACOTE_EXECUCAO]
AS
BEGIN 
SELECT PACOTE DESCRICAOPACOTE, 
START_EXECUTION_DATE HORARIOINICIO,       
CAST(CASE WHEN (DATEDIFF(MI,START_EXECUTION_DATE,(GETDATE()))) = 0 
	THEN CAST((DATEDIFF(S,START_EXECUTION_DATE,(GETDATE()))) AS NUMERIC(8,2))/100 
	ELSE (DATEDIFF(MI,START_EXECUTION_DATE,(GETDATE()))) END AS NUMERIC(8,2)) TEMPO_EM_EXECUCAO,
USUARIOEXEC
FROM MSDB.DBO.SYSJOBACTIVITY ACT
	JOIN (
			SELECT DISTINCT JOB_ID, REPLACE(SUBSTRING(COMMAND,CHARINDEX('BUI_',COMMAND),CHARINDEX('\"" /SERVER',COMMAND)),'\"" /SERVE','') PACOTE
			FROM MSDB.DBO.SYSJOBSTEPS
			WHERE SUBSYSTEM = 'SSIS'
			) AS STP
			ON ACT.JOB_ID = STP.JOB_ID
	JOIN (
			SELECT DESCRICAOPACOTE, 
			HORARIOINICIO,
				CAST(CASE WHEN (DATEDIFF(MI,HORARIOINICIO,(GETDATE()))) = 0 
				THEN CAST((DATEDIFF(S,HORARIOINICIO,(GETDATE()))) AS NUMERIC(8,2))/100 
				ELSE (DATEDIFF(MI,HORARIOINICIO,(GETDATE()))) END AS NUMERIC(8,2)) TEMPO_EM_EXECUCAO,
			USUARIOEXEC
			FROM BUICTRDBS.DBO.AUDIT_LOGEXECUCAOPACOTE A (NOLOCK)
			WHERE STATUSPACOTE IN (0)
			AND CONVERT(CHAR(8),HORARIOINICIO,112) = CONVERT(CHAR(8),GETDATE(),112)
			) AS PCT
			ON PCT.DESCRICAOPACOTE = PACOTE
			AND START_EXECUTION_DATE >= HORARIOINICIO
WHERE CONVERT(VARCHAR(8),START_EXECUTION_DATE,112)=CONVERT(VARCHAR(8),GETDATE(),112)
AND LAST_EXECUTED_STEP_DATE IS NULL
ORDER BY START_EXECUTION_DATE
END