USE [BUICTRDBS]
GO
/****** OBJECT:  STOREDPROCEDURE [DBO].[STP_MONITOR_DW_PACOTE_EXECUCAO]    SCRIPT DATE: 10/07/2018 09:04:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [DBO].[STP_MONITOR_DW_PACOTE_EXECUCAO]
AS
BEGIN 
SELECT DESCRICAOPACOTE, 
HORARIOINICIO,
	CAST(CASE WHEN (DATEDIFF(MI,HORARIOINICIO,(GETDATE()))) = 0 
	THEN CAST((DATEDIFF(S,HORARIOINICIO,(GETDATE()))) AS NUMERIC(8,2))/100 
	ELSE (DATEDIFF(MI,HORARIOINICIO,(GETDATE()))) END AS NUMERIC(8,2)) TEMPO_EM_EXECUCAO,
USUARIOEXEC,
JOB,
STEP
FROM BUICTRDBS.DBO.AUDIT_LOGEXECUCAOPACOTE A (NOLOCK)
	LEFT JOIN (
				SELECT DISTINCT  JOB.JOB_ID, NAME JOB, STEP_NAME STEP, REPLACE(SUBSTRING(COMMAND,CHARINDEX('BUI_',COMMAND),CHARINDEX('\"" /SERVER',COMMAND)),'\"" /SERVE','') PACOTE
				FROM MSDB.DBO.SYSJOBS JOB
				JOIN MSDB.DBO.SYSJOBSTEPS STP
					ON JOB.JOB_ID = STP.JOB_ID
			WHERE SUBSYSTEM = 'SSIS') STP 
	ON DESCRICAOPACOTE = PACOTE
WHERE STATUSPACOTE IN (0)
AND CONVERT(CHAR(8),HORARIOINICIO,112) = CONVERT(CHAR(8),GETDATE(),112)
ORDER BY HORARIOINICIO
END